body{
    background-color: azure;
}

.container{
    background-color: white;
    padding: 10px;
    max-width: 350px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    border-radius: 2rem;
    box-shadow: 0px 0px 15px 1px dodgerblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid dodgerblue;
}

h2{
    color: dodgerblue;
    font-size: 28px;
}

h3{
    color: gray;
    font-size: 16px;
}

p{
    font-weight: bold;
    font-size: 14px;
    color: dodgerblue;
}
hr{
    border: 2px solid gray;
}

a{
    text-decoration: none;
    margin-right: 10px;
    font-weight: bolder;
}

a:hover{
    color: dodgerblue;
}